<div>
	<div class="zmj_master_content">
		<div class="zmj_atmosphere_show" ng-if="variablePacket.showState">
			<p class="zmj_atmosphere_title clearfix">
		  			<span><!--张华--></span>
		  			<span ng-click="edit()"  ng-if='(variablePacket.range=="school"&&variablePacket.nav=="school") || variablePacket.range=="class"' class="operation">
		  				<i class="iconfont icon-bianji"></i>编辑
		  			</span>
		  	</p>
			<div class="zmj_master_introduce">
				<dl class="clearfix">
					<dt><img ng-src="{{variablePacket.imageSrc}}" alt="" /></dt>
					<dd>
						<div ng-bind="variablePacket.text">
							<!--我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。我们都爱学习，健康成长。-->
						</div>
					</dd>
				</dl>
			</div>
		</div>
		<div class="zmj_atmosphere_editfile" ng-show="variablePacket.editState">
			    <div class="zmj_master_text" ng-class={'active':variablePacket.nameError}><span>班主任姓名</span><input type="text" placeholder="请输入班主任姓名" ng-model="variablePacket.name" ng-keyup="nameBlur()" /><span ng-if="variablePacket.nameError"><i class="iconfont icon-gantanhao"></i><em>请输入班主任姓名</em></span></div>
				<div class="zmj_file zmj_master_file clearfix">
					<span class="fl">&nbsp;&nbsp;&nbsp;上传照片</span>
					<div class="zmj_echo_img fl"> 
						<img id='FileImg' src=" "/>
					</div>
					<div class="zmj_fileInput fl clearfix">
						<input type="file" id='FileInput'  accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"  onchange="angular.element(this).scope().filePhoto(this)"/>
						<img src="./img/upload_school_logo.png" class="fl"/>
						<span ng-if="variablePacket.imgError"><i class="iconfont icon-gantanhao"></i><em>请上传照片</em></span>
					</div>
				</div>
				<div class="zmj_edit clearfix">
					<span class="fl">班主任介绍</span>
					<textarea ng-model="variablePacket.text" ng-keyup="textBlur()"></textarea>
					<span class="hint" ng-if="variablePacket.textError"><i class="iconfont icon-gantanhao"></i><em>请填写内容</em></p>
			    </div>
			    <div class="zmj_save">
			    	 <button ng-click="save()">保存</button>
			    </div>
		 </div>
	</div>
</div>